.homePage{
    height: 92%;
    position: absolute;
    padding-top: 20px;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: powderblue;
    text-align: center;
    background-image: url(./home.jpg);
    /* background-repeat: no-repeat; */
    
    background-size: 100%, auto;
    
}


