.todo{
    height: 92%;
    position: absolute;
    padding-top: 20px;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: powderblue;
    text-align: center;
    background-image: url(./task.jpg);
    background-repeat: no-repeat;
    font-family: 'Work Sans', sans-serif;
    background-size: 100%, auto;
}

.form{
    color: yellow;
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    margin: 15px 0;
    padding: 0.8rem;
    width: 100%;
}
.form input {
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    /* border-radius: 15; */
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    max-width: 500px;
    /* min-width: 70%; */
    transition: background-color 600ms ease-in-out;
    width: 100%;
}
button {
    border: none;
    outline: none; 
    transition: box-shadow 600ms ease, background-color 600ms ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: green;
} 
form button {
    padding: 10px;
    margin-left: 15px;
    font-size: 17px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    min-width: 100px;
}

.todo_list{
    max-width:33%;
    min-width: 30%;
    min-height: 50%;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3) ;
    /* float:left; */

    overflow-y: auto;
    height: 100px;
}

.item{
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}

input:checked+p{
    text-decoration: line-through;
    text-decoration-color: #467ec7;
}

.comp{
    text-decoration: line-through;
    text-decoration-color: #467ec7;
}
input[type="checkbox"]{
    margin: 20px;
}

p{
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
    min-width: 280px;
}
form{
    text-align: center;
}

input[type="text"]{
    text-align: center;
    height: 45px;
    top: 10px;
    border: none;
    /* background: transparent; */
    font-size: 20px;
    font-weight: 200;
    width: 313px;
    transition: 200ms;
}

input[type="placeholder"]{
    opacity: 0.7;
    font-size: 1.2rem;
}

::placeholder{
    color: grey;
    opacity: 1;
}

/* todo_list button */

 .button {
    transition-duration: 0.4s;
    
    border-radius: 12px;
    padding: 5px;
  }
  
  .button:hover {
    background-color: red; /* Green */
    color: white;
  }

/* star shaped checkbox  */
.star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
    /* transition: box-shadow 600ms ease, background-color 600ms ease-in-out; */


}
.star:before {
   content: "\2606";
   position: relative;
   visibility:visible;
   
}
.star:checked:before {
   content: "\2605";
   position:relative;
}

.star:hover{
    background-color: #2f34cd;
}